.userCard{
    margin-bottom: 1rem;
}

.fa{
  height: 20;
}

.card-container {
    width: 300px; /* Adjust the width as needed */
    height: 400px; /* Adjust the height as needed */
}
.likes-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.likes {
  font-size: 0.9rem;
  font-weight: 600;
}

.like-button {
  color: rgb(255, 127, 80);
  font-size: 1.5rem;
  border: none;
  background: none;
  transition: color 300ms;
  cursor: pointer;
}

.like-button:hover {
  color: rgb(241, 71, 19);
}

.like-button:active {
  color: rgb(253, 159, 124);
}

.like-button:focus {
  outline: none;
}